html {
  background-color: #c9fcff;
  background-image: repeating-linear-gradient(-33deg, #b3fbff, #b3fbff 10px, #d4fdff 10px, #d4fdff 20px);
}

.text {

  opacity: 0;

  animation: llama 3s forwards ease;
}

@keyframes llama {

  0% {
    filter: blur(1px);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

h1 {
  font-family: "Fredoka One", sans-serif;
  text-shadow: 1px 1px rgba(0, 0, 0, .4);
  color: #990073;
  top: 125px;
  left: 50px;
  position: absolute;
  transform: rotate(-10deg);
}

p {
  max-width: 19em;
  font-family: "Fredoka One", sans-serif;
  text-shadow: 1px 1px rgba(0, 0, 0, .4);
  color: #c09;
  top: 225px;
  left: 55px;
  position: absolute;
  transform: rotate(-5deg);
}

.btn-ice-cream {
  font-family: "Fredoka One", sans-serif;
  text-shadow: 1px 1px rgba(0, 0, 0, .4);
  top: 350px;
  left: 50px;
  position: absolute;
  border: 4px solid #c09;
  color: #c09;
  border-radius: 4px;
  padding: .5em 1em;
}

.btn {
  text-shadow: 1px 1px rgba(0, 0, 0, .4);
}

.btn-ghost {
  font-family: "Fredoka One", sans-serif;
  top: 350px;
  left: 50px;
  position: absolute;
  border: 4px solid #c09;
  border-radius: 4px;
  padding: .5em 1em;
}

.btn-ghost:hover {
  text-shadow: 1px 1px rgba(0, 0, 0, .4);
}

.scoop {
  height: 180px;
  width: 180px;
}

.ice-cream {
  min-height: 480px;
}

.cherry {
  left: 20%;
  bottom: 100%;

  animation: cherry-drop 500ms linear forwards;
}

@keyframes cherry-drop {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 320px;
  }

}

.vanilla-and-chocolate {
  left: 20%;
  bottom: 100%;

  animation: vanilla-and-chocolate-drop 500ms linear forwards;
}

@keyframes vanilla-and-chocolate-drop {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 250px;
  }

}

.chocolate-chip {
  left: 20%;
  bottom: 100%;

  animation: chocolate-chip-drop 500ms linear forwards;
}

@keyframes chocolate-chip-drop {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 175px;
  }

}

.mint {
  left: 20%;
  bottom: 100%;

  animation: mint-drop 500ms linear forwards;
}

@keyframes mint-drop {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 110px;
  }

}

.ice-cream-cone {
  left: 20%;
  bottom: 100%;

  animation: ice-cream-cone-drop 500ms linear forwards;
}

@keyframes ice-cream-cone-drop {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 0;
  }

}
